flask            # Routing/Delivery
flask-bootstrap  # bootstrap extension   
flask-appconfig  # flask configuration handling
flask-wtf        # input validation
tornado          # Webserver/Websockets

pyxdg            # for defining the correct cache path (optional)
colorlog         # colorful log (optional)
mutagen          # for mpd test server (optional)
nose             # For running tests
pyaml            # needed for config.py
PyGObject        # Needed for libmoosecat et. al
