body {
    padding-top: 70px !important;
    padding-bottom: 120px !important;
}

.progress {
    margin-top: 15px;
}

.inner-content {
    height: 97%;
    padding-top: 70px;
    padding-bottom: 240px;
}

#active-button {
    color: red;
    background-color: red;
}

.modal-backdrop {
  z-index: 0;
}

.modal-body {
    overflow: visible;
}

.btn:focus,.btn:active {
   outline: none !important;
}

#cover {
    display: inline-block;
}

.table-border {
    border: 1px solid #cccccc;
}

.borderless td, .borderless th, .borderless tr {
    border: none !important;
    table-layout:fixed;
}

.borderless {
    margin-top: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.borderless td {
    font-size: 90%;
    opacity: 0.3;
}

.borderless td + td {
    font-size: 90%;
    opacity: 0.6;
}

.output-table {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.output-table td, .output-table th, .output-table tr {
    border: none !important;
    table-layout:fixed;
}

.checkbutton span.glyphicon {    			
	opacity: 0;				
}
.checkbutton.active span.glyphicon {				
	opacity: 1;				
}

/****************************************
 * FIX FOR TYPEAHEAD (DISABLE POPUP)    *
 ****************************************/

.twitter-typeahead{
   width:100%;
   margin-top: 4px;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-suggestion {
  opacity: 0;
}

.progress-bar {
  color: #000;
}

#remove-button:hover {
  background: #CF4647;
}

.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
