{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as util %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
{{super()}}



<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Playing<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Database</a></li>
                <li><a href="#">Queue</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-expanded="false">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    Settings
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Systemstats</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav> <!-- navbar end -->


<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
    <div class="col-xs-6">.col-xs-6</div>
    <div class="col-xs-6">.col-xs-6</div>
</div>


<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
    <div class="col-xs-6 col-md-4">

        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default-lg">
                <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default-lg">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default-lg">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default-lg">
                <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    <div class="col-xs-6 col-md-4">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default-lg">
                <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default-lg">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default-lg">
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default-lg">
                <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    {% endblock %}

    {% block head %}
    {{super()}}
    {{fixes.ie8()}}
    {% endblock %}

    {% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{url_for('static', filename='btn.js')}}"></script>
    {{super()}}
    {% endblock %}


    {% block styles %}
    {{super()}}
    <style>
body {padding-top: 70px;}
    </style>
    {% endblock %}
