{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as util %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
{{super()}}

<div class="well" aria-expanded="true">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-xs-12">
                <div class="text-center">
                    <h3>Hostname: {{ hostname }}, Uptime: {{ uptime }}</h3>
                    <h3>System: {{ system }} </h3>
                </div>

                <h3>CPU load ({{ cpu_count }} cpus): </h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ cpu_load }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ cpu_load }}%;">
                        {{ cpu_load }} %
                    </div>
                </div>

                <h3>Memory: {{ memory }}</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                        aria-valuenow="{{ mem_used_perc}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ mem_used_perc}}%;">
                        {{ mem_free }} out of {{ mem_total }} free
                    </div>
                </div>

                <h3>Swap: {{ memory }}</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="{{ swap_used_perc }}" style="width: {{ swap_used_perc }}%;">
                        {{ swap_total }} / {{ swap_free }} in bytes
                    </div>
                </div>

                <h3>Drives: {{ memory }}</h3>
                {% for drive in drives %}
                <div class="progress">
                    <div class="progress-bar" role="progressbar"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="{{ drive["usage_percent"] }}" style="width: {{ drive["usage_percent"] }}%;">
                        {{ drive["dev"] }} is mounted at {{
                        drive["mountpoint"]}}, {{ drive["usage_percent"]}} % full.
                    </div>
                </div>
                {% endfor %}

            </div>

        </div> <!-- end row -->

    </div> <!-- end container -->
</div> <!-- end well -->

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<!-- DO NOT CALL super() here -->
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">
<!-- DO NOT CALL super() here -->
{% endblock %}
